@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: white;
    background-color: rgb(0, 12, 12);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-top: 55px;
    position: absolute;
    width: 100%;
}

nav a {
    margin-right: 10px;
}

nav a:last-child {
    margin-right: 0;
}

.header__info span {
    margin-right: 41px;
    position: relative;
}


.header__info span::before {
    content: url(./images/lang_en.svg);
    position: absolute;
    top: -9px;
    right: 30px;

}

.header__info span::after {
    content: url(./images/arrow.svg);
    position: absolute;
    top: -6px;
    left: 25px;
}

.header__info button {
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 6px;
    background-color: transparent;
    padding: 12px 28px;
    color: white;

}

.info {
    background-image: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 187px 0;
}

.info-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-block h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 39px;
}

.info-block p {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    width: 40%;
    margin-bottom: 39px;
}

.info-block button {
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    color: rgba(237, 76, 92, 1);
    padding: 17px 52px;
    border-radius: 6px;
    text-transform: uppercase;
}